<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Poke API
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  @for(pokemon of pokemons; track pokemon.name){
  <div class="card-wrap">
    <ion-card class="card">
      <img class="card-img" alt="Silhouette of mountains" src="" />
      <ion-card-header>
        <ion-card-title>{{pokemon.name}}</ion-card-title>
      </ion-card-header>
      <ion-button fill="clear">Detalhes</ion-button>
    </ion-card>
  </div>
  }
  <div class="text-wrap">
    <ion-button fill="clear">Mais</ion-button>
  </div>
</ion-content>