<ion-content class="content">
  @for(pokemon of pokemons; track pokemon.name){
  <div class="card-wrap">
    <ion-card class="card">
      <img class="card-img" 
      alt="Silhouette of mountains" 
      [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/' + getIdPokemon(pokemon.url) + '.png'"  />
      <ion-card-header>
        <ion-card-title>{{pokemon.name}}</ion-card-title>
      </ion-card-header>
        <a  [routerLink]="['/details', pokemon.url]">
        <ion-button fill="clear">Detalhes</ion-button>
      </a>
    </ion-card>
  </div>
  }
  <div class="text-wrap">
    <ion-button fill="clear">Mais</ion-button>
  </div>
</ion-content>