<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Poke API
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <div class="card-wrap">
    <ion-card class="card">
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Chikorita</ion-card-title>
      </ion-card-header>
      <ion-button fill="clear">Detalhes</ion-button>
    </ion-card>
  </div>

  <div class="card-wrap">
    <ion-card class="card">
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Chikorita</ion-card-title>
      </ion-card-header>
      <ion-button fill="clear">Detalhes</ion-button>
    </ion-card>
  </div>

  <div class="card-wrap">
    <ion-card class="card">
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Chikorita</ion-card-title>
      </ion-card-header>
      <ion-button fill="clear">Detalhes</ion-button>
    </ion-card>
  </div>

  <div class="card-wrap">
    <ion-card class="card">
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Chikorita</ion-card-title>
      </ion-card-header>
      <ion-button fill="clear">Detalhes</ion-button>
    </ion-card>
  </div>

  <div class="text-wrap">
    <ion-button fill="clear">Mais</ion-button>
  </div>

</ion-content>