.container{
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.text-wrap{
    margin-top: 10px;
    padding: 50px;
}

.ml{
    margin-left: 20px;
}

.card-img{
    width: 200px;

}
