<ion-content class="container">
  <div class="text-wrap">
    <p><strong>ID:</strong> {{pokemonDetail.id}}</p>
    <p>
      <strong>Habilidades:</strong>
    </p>
    @for (ability of pokemonDetail.abilities; track pokemonDetail.id) {
      <li class="ml">{{ ability.ability.name }}</li>
    }
    <p><strong>Height:</strong> {{pokemonDetail.height}}</p>
    <p><strong>Experiência básica:</strong> {{pokemonDetail.base_experience}}</p>
    <p><strong>Peso:</strong> {{pokemonDetail.weight}}</p>
    <p>
      <strong>Tipos:</strong>
    </p>
    @for (type of pokemonDetail.types; track pokemonDetail.id) {
      <li class="ml">{{ type.type.name }}</li>
    }
     <p>
      <strong>Sprites:</strong>
    </p>
    <div class="ml card-img">
      <img [src]="pokemonDetail?.sprites?.back_default" alt="img">
    </div>
     <div class="ml card-img">
      <img [src]="pokemonDetail?.sprites?.back_shiny" alt="img">
    </div>
     <div class="ml card-img">
      <img [src]="pokemonDetail?.sprites?.front_default" alt="img">
    </div>
     <div class="ml card-img">
      <img [src]="pokemonDetail?.sprites?.front_shiny" alt="img">
    </div>
  </div>
</ion-content>





